<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Creación de Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="asignaturaForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">{{'Asignaturas.Nombre' | translate}}:</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'Asignaturas.Descripción' | translate}}:</ion-label>
      <ion-input type="text" formControlName="descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'Asignaturas.Curso' | translate}}:</ion-label>
      <ion-input type="text" formControlName="curso"></ion-input>
    </ion-item>
    <ion-button color="success" type="submit" [disabled]="!asignaturaForm.valid">{{'Botones.Crear' | translate}}</ion-button>
  </form>
</ion-content>