table{
    td:nth-child(1){
        width: 40%;
    }
    td:nth-child(2){
        width: 10%;
    }
    td:nth-child(3){
        width: 45%;
    }
    td:nth-child(4){
        width: 5%;
    }
}

.mat-paginator{
    width: 95%;
    margin: 5px 2.5%;
}