<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>      
    </ion-buttons>
    <ion-title>Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="danger">
      <ion-card-title>Ups! Algo salío mal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
    </ion-card-content>
      <ion-button routerLink="/announcements" expand="full">
        <ion-icon  name="arrow-back"></ion-icon>
        <ion-label>Volver a la página principal</ion-label>
      </ion-button>
  </ion-card>
</ion-content>
