<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center" color="primary">
      <ion-card-title>{{asignatura.nombre}}</ion-card-title>
      <ion-card-subtitle>{{'Asignaturas.Curso' | translate}}: {{asignatura.curso}}</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>

      <p *ngIf="asignatura.descripcion">{{'Asignaturas.Descripción' | translate}}: {{asignatura.descripcion}}</p>
      <p *ngIf="asignatura.profesor">{{'Asignaturas.Profesor' | translate}}:
        {{asignatura.profesor.nombre + " "+ asignatura.profesor.apellidos}}</p>

      <ion-item *ngIf="!asignatura.profesor">
        <ion-label>Asignar profesor</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="profesorAsignadoID">
          <ion-select-option *ngFor="let p of profesores" value="{{p.id}}">{{p.nombre+' '+p.apellidos}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button *ngIf="!asignatura.profesor" (click)="asignarProfesor()" expand="full">Asignar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-users">
    <ion-item class="ion-text-center" color="primary">
      <ion-label>{{'Asignaturas.AlumnosMatriculados' | translate}}</ion-label>
      <ion-button slot="end">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card-content>
      <table mat-table [dataSource]="usuariosMatriculados">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef> Apellidos </th>
          <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </ion-card-content>
  </ion-card>
</ion-content>