<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
        <ion-button (click)="verMaterial(a.id)" color="tertiary" title="Guardar">
          <ion-icon slot="icon-only" name="save"></ion-icon>
        </ion-button>
        <ion-button (click)="closeModal()" color="tertiary" title="Salir">
          <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Generador de ejercicios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card scrollY="true">
    <ion-card-header color="primary">
      Generador de ejercicios
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Tipo de ejercicio</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="ejercicioType">
          <ion-select-option value="CHECKS">Checks</ion-select-option>
          <ion-select-option value="REDACTION">Redacción</ion-select-option>
          <ion-select-option value="RELATION">Relacionar</ion-select-option>
          <ion-select-option value="REORDER">Reordenar</ion-select-option>
          <ion-select-option value="TEST">Test</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Pregunta:</ion-label>
        <ion-input type="text" ngDefaultControl [(ngModel)]="pregunta"></ion-input>
      </ion-item>

      <ion-list>

        <ion-item>
          <ion-label position="floating">Añadir respuestas:</ion-label>
          <ion-textarea ngDefaultControl [(ngModel)]="nuevaOpt" autoGrow="true" (keydown.enter)="addOption('')">
          </ion-textarea>

          <ion-buttons slot="end">
            <ion-button (click)="addOption('')" slot="end" color="success" title="Add">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item *ngFor="let opt of opciones" color="light">
          <ion-label class="ion-text-wrap">{{opt.texto}}</ion-label>

          <ion-select *ngIf="ejercicioType=='RELATION'" placeholder="Select One" [(ngModel)]="opt.relWord">
            <ion-select-option value="CHECKS">Checks</ion-select-option>
            <ion-select-option value="REDACTION">Redacción</ion-select-option>
            <ion-select-option value="RELATION">Relacionar</ion-select-option>
            <ion-select-option value="REORDER">Reordenar</ion-select-option>
            <ion-select-option value="TEST">Test</ion-select-option>
          </ion-select>

          <ion-buttons *ngIf="ejercicioType!='RELATION'" slot="end">
            <ion-button *ngIf="opt.check" (click)="checkOpt(opt)" slot="end" color="success" title="Add">
              <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!opt.check" (click)="checkOpt(opt)" slot="end" color="gray" title="Add">
              <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!opt.check" (click)="checkOpt(opt)" slot="end" color="danger" title="Add">
              <ion-icon slot="icon-only" name="close-circle"></ion-icon>
            </ion-button>
            <ion-button *ngIf="opt.check" (click)="checkOpt(opt)" slot="end" color="gray" title="Add">
              <ion-icon slot="icon-only" name="close-circle"></ion-icon>
            </ion-button>
            <ion-button (click)="removeOption(opt)" slot="end" color="danger" title="Borrar">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>

      <ion-button color="success" expand="block" (click)="createEjer()">Guardar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      Ejercicios genedaros
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let ejercicio of ejercicios">
        <app-ejercicio-checks *ngIf="ejercicio.tipo=='CHECKS'" pregunta="{{ejercicio.pregunta}}"
          [opciones]="ejercicio.opciones">
        </app-ejercicio-checks>
        <app-ejercicio-redaction *ngIf="ejercicio.tipo=='REDACTION'" pregunta="{{ejercicio.pregunta}}">
        </app-ejercicio-redaction>
        <!--<app-ejercicio-relation *ngIf="ejercicio.tipo==RELATION" 
            pregunta="ejercicio.pregunta" [opciones]="ejercicio.opciones">
          </app-ejercicio-test>-->
        <app-ejercicio-reorder *ngIf="ejercicio.tipo=='REORDER'" pregunta="{{ejercicio.pregunta}}"
          [opciones]="ejercicio.opciones">
        </app-ejercicio-reorder>
        <app-ejercicio-test *ngIf="ejercicio.tipo=='TEST'" pregunta="{{ejercicio.pregunta}}"
          [opciones]="ejercicio.opciones">
        </app-ejercicio-test>
      </div>
      {{ejercicios}}
    </ion-card-content>
    <ion-button color="success" expand="block">Resolver</ion-button>

  </ion-card>
  
</ion-content>