<ion-content color="primary" padding>
  <form [formGroup]="loginForm" (ngSubmit)="login()" (keyup.enter)="login(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-center size="6" size-xs="12"> 
          <ion-tab-button>
            <ion-icon ios="ios-book" md="md-book"></ion-icon>
            <ion-label>E-School</ion-label>
          </ion-tab-button>        
          <ion-item>
            <ion-input formControlName="user" type="text" placeholder="Username" autofocus required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="password" type="password" placeholder="Password" required></ion-input>
          </ion-item>
            
          <ion-label *ngIf="error" color="danger">{{errorCode}}</ion-label>
          
          <ion-button color="success" size="large" type="submit" [disabled]="loginForm.invalid" expand="full">Entrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
