<ion-card>
  <ion-item class="ion-text-center" color="primary">
    <ion-label>Ejercicios</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="addSection()">
        <ion-icon slot="icon-only" name="easel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-card-content class="ion-no-padding">
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">

        <ion-list *ngFor="let sec of secciones;let firstSec = first;let lastSec = last;" class="ion-no-padding">
          
          <ion-toolbar color="medium">
            <ion-reorder slot="start" color="medium"></ion-reorder>
            {{sec.name}}
            <ion-buttons slot="end">
              <ion-button (click)="addMaterial(sec.id)">
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            
          </ion-toolbar>
        
          <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
            <ion-item *ngFor="let mat of sec.materiales">
              <ion-reorder slot="start"><ion-icon name="move"></ion-icon></ion-reorder>
              <ion-label class="ion-text-wrap">{{mat.titulo}}</ion-label>              
              <ion-buttons slot="end">
                  <ion-button class="action-buttons-expanded" (click)="verMaterial(mat.id)" slot="end" color="tertiary" title="Ver">
                    <ion-icon slot="icon-only" name="book"></ion-icon>
                  </ion-button>
                  <ion-button class="action-buttons-expanded" (click)="editMaterial(mat.id)" slot="end" color="secondary" title="Editar">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                  </ion-button>
                  <ion-button class="action-buttons-expanded" (click)="presentAlertConfirm(mat.id)" slot="end" color="danger" title="Borrar">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                  </ion-button>
                  <ion-button [matMenuTriggerFor]="appMenu">
                      <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
                  </ion-button>
                  <mat-menu #appMenu="matMenu">
                      <button mat-menu-item (click)="moveMat(mat,sec,-1)" [disabled]="firstSec"><mat-icon>arrow_upward</mat-icon>Subir sección</button>
                      <button mat-menu-item (click)="moveMat(mat,sec,1)" [disabled]="lastSec"><mat-icon>arrow_downward</mat-icon>Bajar sección</button>
                      <button mat-menu-item (click)="verMaterial(mat.id)"><mat-icon>remove_red_eye</mat-icon>Ver</button>
                      <button mat-menu-item (click)="editMaterial(mat.id)"><mat-icon>create</mat-icon>Editar</button>
                      <button mat-menu-item (click)="presentAlertConfirm(mat.id)"><mat-icon>delete</mat-icon>Borrar</button>
                  </mat-menu>
                </ion-buttons>
            </ion-item>
          </ion-reorder-group>
        </ion-list>
      </ion-reorder-group>
  </ion-card-content>
</ion-card>

