<ion-card>
  <ion-item class="ion-text-center" color="primary">
    <ion-label>Ejercicios</ion-label>
    <ion-button (click)="addMaterial()" slot="end">
      <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-card-content>
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
        <ion-reorder>
            <ion-item>
              <ion-label>
                Item 7
              </ion-label>
            </ion-item>
          </ion-reorder>
          
          <ion-reorder>
            <ion-item>
              <ion-label>
                Item 8
              </ion-label>
            </ion-item>
          </ion-reorder>

          <ion-reorder>
            <ion-item color="secondary">
              <ion-label>
                Tema 1
              </ion-label>
            </ion-item>
          </ion-reorder>
      </ion-reorder-group>
  </ion-card-content>
</ion-card>

<app-generador-ejercicios></app-generador-ejercicios>

