<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="usuarios"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Users.AddUser' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">{{'Users.Name' | translate}}</ion-label>
      <ion-input clearInput formControlName="nombre" ngDefaultControl></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Users.Surnames' | translate}}</ion-label>
      <ion-input clearInput formControlName="apellidos" ngDefaultControl></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Users.Email' | translate}}</ion-label>
      <ion-input clearInput formControlName="email" ngDefaultControl></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Role.Role' | translate}}</ion-label>
      <ion-select placeholder="Select One" formControlName="rol" ngDefaultControl>
        <ion-select-option [value]="userRole.PROFESOR">{{'Role.Teacher' | translate}}</ion-select-option>
        <ion-select-option [value]="userRole.ALUMNO">{{'Role.Student' | translate}}</ion-select-option>
        <ion-select-option [value]="userRole.ADMIN">{{'Role.Admin' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="clearForm()">{{'Buttons.Clear' | translate}}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="submit" expand="full" color="success" [disabled]="!userForm.valid">{{'Buttons.Create' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>