<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Menu.Ajustes' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{'Ajustes.Selecciona un idioma' | translate}}:</ion-label>  
    <ion-select (ionChange)="cambiarIdioma($event)">
      <ion-select-option *ngFor="let item of idiomas" [value]="item.value">
        {{ item.label }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  
</ion-content>
