<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Asignatura</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editar()">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button (click)="editar()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
      <ion-button (click)="editar()">
        <ion-icon slot="icon-only" name="undo"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header text-center color="primary">
            <ion-card-title>{{asignatura.nombre}}</ion-card-title>
            <ion-card-subtitle>Curso en que se imparte: {{asignatura.curso}}</ion-card-subtitle>

          </ion-card-header>

          <ion-card-content>

            <p>Descripción: {{asignatura.descripcion}}</p>
            <p>Profesor: {{asignatura.profesor.nombre + " "+ asignatura.profesor.apellidos}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-card>
          <ion-item text-center color="primary">
            <ion-label>Alumnos matrículados</ion-label>
            <ion-button (click)="crear()" slot="end">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let a of [1,2,3,4,5] | paginate: { itemsPerPage: 3, currentPage: p,id:'alumnos' }">
                Alumno {{a}}
                <ion-button (click)="crear()" slot="end">
                  <ion-icon slot="icon-only" name="contact"></ion-icon>
                </ion-button>
                <ion-button (click)="crear()" slot="end">
                  <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
            <pagination-controls (pageChange)="p = $event" id="alumnos"></pagination-controls>
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col>
        <ion-card>
          <ion-item text-center color="primary">
            <ion-label>Materiales</ion-label>
            <ion-button (click)="addMaterial()" slot="end">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let a of asignatura.materiales | paginate: { itemsPerPage: 3, currentPage: p2,id:'materiales' }">
                {{a.titulo}}</ion-item>
            </ion-list>
            <pagination-controls (pageChange)="p2 = $event" id="materiales"></pagination-controls>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>