<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment #segment value="matTab">
      <ion-segment-button value="matTab">
        <ion-icon name="book"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="ejTab">
        <ion-icon name="calculator"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="notesTab">
          <ion-icon name="paper"></ion-icon>
      </ion-segment-button>
    </ion-segment> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <md-editor *ngIf="segment.value=='matTab'" name="Content" [(ngModel)]="content" [mode]="mode" [height]="'auto'" [options]="options">
  </md-editor>

  <md-editor *ngIf="segment.value=='notesTab'" name="Content" [(ngModel)]="content" [mode]="!mode" [height]="'auto'" [options]="options">
  </md-editor>
</ion-content>