// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import "theme.dark";
@import "theme.light";

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #414681; 
  --ion-color-primary-rgb: 65,70,129; 
  --ion-color-primary-contrast: #ffffff; 
  --ion-color-primary-contrast-rgb: 255,255,255; 
  --ion-color-primary-shade: #393e72;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #d5ae97; 
  --ion-color-medium-rgb: 213,174,151; 
  --ion-color-medium-contrast: #000000; 
  --ion-color-medium-contrast-rgb: 0,0,0; 
  --ion-color-medium-shade: #bb9985; 
  --ion-color-medium-tint: #d9b6a1;

  /** light **/
  --ion-color-light: #b5d5f4;
  --ion-color-light-rgb: 181,213,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #9fbbd7;
  --ion-color-light-tint: #bcd9f5;

  --ion-color-gold: #ffd700;--ion-color-gold-rgb: 255, 215, 0;--ion-color-gold-contrast: #000000;--ion-color-gold-contrast-rgb: 0, 0, 0;--ion-color-gold-shade: #e0bd00;--ion-color-gold-tint: #ffdb1a;


  --ion-color-gray: #a4a4a4;
  --ion-color-gray-rgb: 164,164,164;
  --ion-color-gray-contrast: #000000;
  --ion-color-gray-contrast-rgb: 0,0,0;
  --ion-color-gray-shade: #909090;
  --ion-color-gray-tint: #adadad;
  
}


.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-gold {--ion-color-base: var(--ion-color-gold) !important;--ion-color-base-rgb: var(--ion-color-gold-rgb) !important;--ion-color-contrast: var(--ion-color-gold-contrast) !important;--ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb) !important;--ion-color-shade: var(--ion-color-gold-shade) !important;--ion-color-tint: var(--ion-color-gold-tint) !important;}

.ion-color-gray {
  --ion-color-base: var(--ion-color-gray);
  --ion-color-base-rgb: var(--ion-color-gray-rgb);
  --ion-color-contrast: var(--ion-color-gray-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gray-contrast-rgb);
  --ion-color-shade: var(--ion-color-gray-shade);
  --ion-color-tint: var(--ion-color-gray-tint);
}